:root {
    --background-light: #6be1f9;
    --background-dark: #0acbfa;
    --other-button-main: #778da9;
    --other-button-dark: #415a77;
    --nickname-input-main: #eaeaea;
    --nickname-input-dark: #b7b7b7;
    --skins-button-main: #ff9568;
    --skins-button-dark: #ff7c42;
    --play-button-main: #66bb6a;
    --play-button-dark: #3a883e;
    --stats-button-main: #ff4d6d;
    --stats-button-dark: #c9184a;
    --background-orange: #66331d;
    --background-green: #1f5022;
    --white: #ffffff;
    --black: #000000;
}

* {
    font-family: 'Inter', sans-serif;
    user-select: none;
    outline: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    height: 100vh;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p, b, em, input, button, textarea {
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
    transition: 0.3s;
}

.wrapper {
    height: 100%;
    width: 100%;
}

.scenes {
    height: 100%;
}

.scenes > div {
    display: none;
    height: 100%;
    background-image: linear-gradient(to right, var(--background-dark) 0%, var(--background-dark) 50%, var(--background-light) 50%, var(--background-light) 100%);
    background-size: 120px 100%;
    background-repeat: repeat;
}

.scenes > .menu {
    display: block;
}

.scenes > .menu > .ui {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

.scenes > .menu > .ui > div {
    width: 100%;
}

.scenes > .menu > .ui > .logo > img {
    width: 250px;
    margin: 20px 0;
}

.scenes > .menu > .ui > .lobby {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.scenes > .menu > .ui > .lobby > div {
    width: 100%;
    padding: 0 12px;
}

.scenes > .menu > .ui > .lobby > .nickname {
    margin-bottom: 6px;
}

.scenes > .menu > .ui > .lobby > .nickname > input {
    border-left: none;
    border-right: none;
    border-top: solid 4px var(--nickname-input-main);
    border-bottom: solid 4px var(--nickname-input-dark);
    background: var(--nickname-input-main);
    transform: skew(-5deg);
    font-weight: 500;
    font-size: 24px;
    padding: 4px;
    width: 100%;
}

.scenes > .menu > .ui > .lobby > .nickname > input::placeholder {
    color: var(--black);
}

.scenes > .menu > .ui > .lobby > .buttons > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.scenes > .menu > .ui > .lobby > .buttons > .first {
    margin-bottom: 6px;
}

.scenes > .menu > .ui > .lobby > .buttons > .first > .skins {
    margin-right: 4px;
}

.scenes > .menu > .ui > .lobby > .buttons > .first > .skins > button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    border-left: none;
    border-right: none;
    border-top: solid 4px var(--skins-button-main);
    border-bottom: solid 4px var(--skins-button-dark);
    background: var(--skins-button-main);
    transform: skew(-5deg);
    font-weight: 700;
    font-size: 24px;
    padding: 4px 24px;
    letter-spacing: 1px;
}

.scenes > .menu > .ui > .lobby > .buttons > .first > .skins > button:hover {
    transform: scale(0.95) skew(-5deg);
}

.scenes > .menu > .ui > .lobby > .buttons > .first > .skins > button > img {
    width: 28px;
    margin-right: 6px;
}

.scenes > .menu > .ui > .lobby > .buttons > .first > .play {
    margin-left: 4px;
}

.scenes > .menu > .ui > .lobby > .buttons > .first > .play > button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    border-left: none;
    border-right: none;
    border-top: solid 4px var(--play-button-main);
    border-bottom: solid 4px var(--play-button-dark);
    background: var(--play-button-main);
    transform: skew(-5deg);
    font-weight: 700;
    font-size: 24px;
    padding: 4px 24px;
    letter-spacing: 1px;
}

.scenes > .menu > .ui > .lobby > .buttons > .first > .play > button:hover {
    transform: scale(0.95) skew(-5deg);
}

.scenes > .menu > .ui > .lobby > .buttons > .first > .play > button > img {
    width: 28px;
    margin-left: 8px;
}

.scenes > .menu > .ui > .lobby > .buttons > .second > .stats {
    margin-right: 4px;
}

.scenes > .menu > .ui > .lobby > .buttons > .second > .stats > button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    border-left: none;
    border-right: none;
    border-top: solid 4px var(--stats-button-main);
    border-bottom: solid 4px var(--stats-button-dark);
    background: var(--stats-button-main);
    transform: skew(-5deg);
    font-weight: 700;
    font-size: 24px;
    padding: 4px 24px;
    letter-spacing: 1px;
}

.scenes > .menu > .ui > .lobby > .buttons > .second > .stats > button:hover {
    transform: scale(0.95) skew(-5deg);
}

.scenes > .menu > .ui > .lobby > .buttons > .second > .stats > button > img {
    width: 28px;
    margin-left: 8px;
}

.scenes > .menu > .ui > .lobby > .buttons > .second > .other {
    display: flex;
}

.scenes > .menu > .ui > .lobby > .buttons > .second > .other > div > button {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    border-left: none;
    border-right: none;
    border-top: solid 4px var(--other-button-main);
    border-bottom: solid 4px var(--other-button-dark);
    background: var(--other-button-main);
    transform: skew(-5deg);
    font-weight: 700;
    font-size: 24px;
    padding: 4px 8px;
    margin: 0 4px;
}

.scenes > .menu > .ui > .lobby > .buttons > .second > .other > div > button:hover {
    transform: scale(0.95) skew(-5deg);
}

.scenes > .menu > .ui > .lobby > .buttons > .second > .other > div > button > img {
    width: 28px;
}

.scenes > .info {
    padding: 12px;
}

.scenes > .info > .title {
    border-bottom: solid 2px var(--skins-button-main);
    margin-bottom: 12px;
}

.scenes > .info > .title > h1 {
    font-family: 'Iosevka Charon Mono', monospace;
    text-transform: uppercase;
    color: var(--white);
    font-size: 36px;
}

.scenes > .info > .content {
    height: 60vh;
    overflow-y: scroll;
}

.scenes > .info > .content > p {
    color: var(--white);
    font-size: 18px;
}

.scenes > .info > .ok {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-bottom: 12px;
}

.scenes > .info > .ok > button {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    border-left: none;
    border-right: none;
    border-top: solid 4px var(--play-button-main);
    border-bottom: solid 4px var(--play-button-dark);
    background: var(--play-button-main);
    transform: skew(-5deg);
    font-weight: 700;
    font-size: 24px;
    padding: 4px 32px;
    letter-spacing: 1px;
}

.scenes > .info > .ok > button:hover {
    transform: scale(0.95) skew(-5deg);
}

.scenes > .info > .ok > button > img {
    width: 28px;
    margin-left: 8px;
}