@import url('https://cdn-uicons.flaticon.com/3.0.0/uicons-solid-rounded/css/uicons-solid-rounded.css');
@import url('https://cdn-uicons.flaticon.com/3.0.0/uicons-solid-straight/css/uicons-solid-straight.css');
@import url('https://cdn-uicons.flaticon.com/3.0.0/uicons-regular-rounded/css/uicons-regular-rounded.css');

* {
    font-family: Arial, sans-serif;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-tap-highlight-color: transparent;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #48cae4;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    touch-action: none;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 99999;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.overlay.active {
    display: flex;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    flex-wrap: wrap;
    pointer-events: none;
}

.header > div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.header > div > div {
    padding: 6px;
}

.header > .top {
    align-items: flex-start;
}

.header > .bottom {
    align-items: flex-end;
}

.header > .top > .left > .leaderboard {
    background: #000000;
    border-radius: 6px;
    padding: 6px;
}

.header > .top > .left > .leaderboard > .title {
    margin-bottom: 4px;
}

.header > .top > .left > .leaderboard > .title > span {
    font-size: 14px;
    color: #ffffff;
    font-weight: 600;
}

.header > .top > .left > .leaderboard > .content > span {
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 2px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.header > .top > .left > .leaderboard > .content > span > span {
    font-weight: 600;
    margin-left: 10px;
}

.header > .top > .center {
    background: #00000088;
    color: #ffffff;
    margin-top: 6px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header > .top > .center > div > span {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin: 0 10px;
}

.header > .top > .center > div > span > i {
    font-size: 18px;
    margin-right: 6px;
}

.header > .top > .center > div > span > b {
    position: relative;
    bottom: 2px;
    font-size: 16px;
}

.header > .top > .right {
    padding: 6px;
    border-radius: 6px;
    background: #000000;
    margin: 6px;
    opacity: 0.6;
}

.header > .top > .right > .map {
    border-radius: 3px;
}

.header > .top > .right > .map > .line {
    display: flex;
}

.header > .top > .right > .map > .line > .cell {
    width: 2px;
    height: 2px;
}

.header > .center {
    height: 0%;
}

.header > .center > .right > .zoom {
    pointer-events: auto;
    display: flex;
}

.header > .center > .right > .zoom > div {
    margin: 4px;
}

.header > .center > .right > .zoom > div > button {
    padding: 6px 8px;
    border-radius: 2px;
    background: #ffffff88;
    border: none;
    outline: solid 2px #00000088;
    cursor: pointer;
}

.header > .bottom {
    position: relative;
    bottom: 0;
}

.header > .bottom > div {
    width: 50%;
    display: flex;
}

.header > .bottom > .left {
    justify-content: left;
}

.header > .bottom > .right {
    justify-content: right;
}

.header > .bottom > .left > .joystick {
    pointer-events: auto;
}

.header > .bottom > .left > .joystick > .handlers {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 126px;
    margin: 10px;
    transform: rotate(45deg);
}

.header > .bottom > .left > .joystick > .handlers > div {
    width: 63px;
    height: 63px;
}

.header > .bottom > .left > .joystick > .button {
    margin: 10px;
    padding: 30px;
    border-radius: 100%;
    border: solid 3px #0077b6;
}

.header > .bottom > .left > .joystick > .button > button {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    opacity: 0.6;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0077b6;
    border: solid 3px #023e8a;
    outline: solid 2px #ffffff;
    color: #023e8a;
    box-shadow: inset 0 10px 10px -10px #ffffff;
    transition: 0.1s ease;
}

.header > .bottom > .left > .joystick > .move {
    background: #0077b633;
}

.header > .bottom > .left > .joystick > .button > .top {
    top: -50px;
    opacity: 1;
}

.header > .bottom > .left > .joystick > .button > .left {
    left: -50px;
    opacity: 1;
}

.header > .bottom > .left > .joystick > .button > .right {
    right: -50px;
    opacity: 1;
}

.header > .bottom > .left > .joystick > .button > .bottom {
    bottom: -50px;
    opacity: 1;
}

.header > .bottom > .left > .joystick > .button > button > i {
    display: block;
    position: relative;
    font-size: 30px;
    width: 30px;
    height: 30px;
    text-shadow: 2px 2px 0 #0077b6;
}

.header > .bottom > .right > .attack {
    pointer-events: auto;
}

.header > .bottom > .right > .attack > .button {
    margin: 10px;
    padding: 30px;
    border-radius: 100%;
    border: solid 3px #e63946;
}

.header > .bottom > .right > .attack > .tap {
    animation: joystickPulse 0.3s ease-in-out infinite;
}

@keyframes joystickPulse {
    0% {
        background: none;
    }

    100% {
        background: #e6394633;
    }
}

.header > .bottom > .right > .attack > .button > button {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    opacity: 0.6;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e63946;
    border: solid 3px #780000;
    outline: solid 2px #ffffff;
    color: #780000;
    box-shadow: inset 0 10px 10px -10px #ffffff;
    transition: 0.1s ease;
}

.header > .bottom > .right > .attack > .button > button > i {
    display: block;
    position: relative;
    font-size: 30px;
    width: 30px;
    height: 30px;
    text-shadow: 2px 2px 0 #c1121f;
}

.header > .bottom > .right > .attack > .button > .tap {
    transform: scale(0.9);
    opacity: 1;
}

.layout {
    position: absolute;
    transform-origin: center center;
}

.layout > .game > .field {
    position: relative;
    outline: solid 6px #00b4d8;
}

.layout > .game > .field > .line {
    display: flex;
}

.layout > .game > .field > .line > .cell {
    background: #cccccc;
    outline: solid 1px #00000022;
    font-size: 12px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.layout > .game > .field > .line > .tap {
    animation: attackPulse 0.1s ease-in-out infinite;
    z-index: 99;
}

@keyframes attackPulse {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }
}

.layout > .game > .field > .line > .cell > .player {
    outline: solid 1px #000000;
    position: relative;
    width: 12px;
    height: 12px;
    border-radius: 100%;
}

.layout > .game > .field > .line > .cell > span {
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 9px;
    white-space: nowrap;
    color: #000000;
    padding: 2px 5px;
    border-radius: 3px;
    z-index: 10;
    pointer-events: none;
    z-index: 100;
}

.layout > .game > .field > .line > .cell > .crown {
    position: absolute;
    top: -25px;
    -webkit-text-stroke: 0.5px #000000;
    left: 50%;
    transform: translateX(-50%);
    font-size: 9px;
    white-space: nowrap;
    color: #000000;
    padding: 2px 5px;
    border-radius: 3px;
    z-index: 10;
    pointer-events: none;
    z-index: 101;
}

.layout > .game > .field > .line > .cell > .count {
    color: #00000022;
}

.layout > .game > .field > .line > .flag {
    transform: scale(1.1);
    outline: solid 2px #00000022;
    z-index: 99;
}

.layout > .game > .field > .line > .flag > .count {
    font-weight: 700;
    transform: scale(1.25);
}