@import url('https://cdn-uicons.flaticon.com/3.0.0/uicons-solid-rounded/css/uicons-solid-rounded.css');

* {
    font-family: Arial, sans-serif;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-tap-highlight-color: transparent;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000000;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    touch-action: none;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: grid;
    grid-template-rows: auto 1fr auto;
    pointer-events: none;
}

.header > div {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header > div > div {
    pointer-events: auto;
}

.header > .bottom > .left > .joystick {
    padding: 6px;
}

.header > .bottom > .left > .joystick > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.header > .bottom > .left > .joystick > div > .button {
    padding: 4px;
}

.header > .bottom > .left > .joystick > div > .button > button {
    width: 64px;
    height: 64px;
    font-size: 32px;
    border: solid 3px #ffffff;
    outline: none;
    background: #ffffff55;
    border-radius: 6px;
    cursor: pointer;
}

.header > .bottom > .left > .joystick > div > .button > button > i {
    position: relative;
    top: 4px;
}

.header > .bottom > .left > .joystick > .center > .button:nth-child(2) > button {
    border-color: #ff4d6d;
    background: #ffb3c1;
}

.layout {
    position: absolute;
    transform-origin: center center;
}

.layout > .game > .field {
    position: relative;
    outline: solid 3px #ffbb00;
}

.layout > .game > .field > .line {
    display: flex;
}

.layout > .game > .field > .line > .cell {
    background: #cccccc;
    outline: solid 1px #00000022;
    font-size: 12px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.layout > .game > .field > .line > .cell > .player {
    outline: solid 1px #000000;
    position: relative;
    width: 12px;
    height: 12px;
    border-radius: 100%;
}

.layout > .game > .field > .line > .cell > .count {
    color: #00000022;
}